<script type="text/javascript">
  RED.nodes.registerType('jb.keystore.get', {
    category: 'system utilities',
    defaults: {
      name: {value: ""},
      service: {value: ""},
      account: {value: ""},
    },
    inputs: 1,
    outputs: 1,
    icon: "font-awesome/fa-cogs",
    paletteLabel: "Get Keystore",
    label: function() {
      return this.name || "Get Keystore";
    }
  });
</script>
<!-- _______________________________________________________________________ -->
<script type="text/x-red" data-template-name="jb.keystore.get">
  <div class="form-row">
    <label for="node-input-name">Name</label>
    <input type="text" id="node-input-name" placeholder="">
  </div>
  <div class="form-row">
    <label for="node-input-service">Service</label>
    <input type="text" id="node-input-service" placeholder="">
  </div>
  <div class="form-row">
    <label for="node-input-account">Account</label>
    <input type="text" id="node-input-account" placeholder="">
  </div>
</script>
<!-- _______________________________________________________________________ -->
<script type="text/x-red" data-help-name="jb.keystore.get">
  <h3>Get Keystore</h3>
    <p>
      Reads a value from the OS's secure key storage
    </p><p>
      On MacOS the passwords are managed by the Keychain, on Linux they are managed by the Secret Service API/libsecret, and on Windows they are managed by Credential Vault.
      </p><p>
      The service name and account can be provided through the node's configuration or via the input message.
    </p><p>
      Upon success, the output will deliver a <code>msg.password</code> string.
    </p>
    <h3>Inputs</h3>
    <dl class="message-properties">
      <dt>msg.service<span class="property-type">string</span></dt>
      <dt>msg.account<span class="property-type">string</span></dt>
    </dl>
    <h3>Output</h3>
    <dl class="message-properties">
      <dt>msg.password<span class="property-type">string</span></dt>
    </dl>
</script>
