<script type="text/javascript">
  RED.nodes.registerType('jb.utils.config.store', {
    category: 'system utilities',
    defaults: {
      property: {value:"payload",required:true},
      property_type: {value:"msg",required:true},
      file: {value:"configfile.json",required:true},
      name: {value: ""},
    },
    inputs: 1,
    outputs: 1,
    icon: "font-awesome/fa-cogs",
    paletteLabel: "Config Store",
    label: function() {
      return this.name || "Config Store";
    },
    oneditprepare: function() {
      if (this.property === undefined) $("#node-input-property").val("payload");
      $("#node-input-property").typedInput({default:'msg', typeField: "#node-input-property_type", types:['msg',"flow","global"]});
    }
  });
</script>
<!-- _______________________________________________________________________ -->
<script type="text/x-red" data-template-name="jb.utils.config.store">
  <div class="form-row">
    <label for="node-input-name">Name</label>
    <input type="text" id="node-input-name" placeholder="">
  </div>
  <div class="form-row">
      <label for="node-input-property"><i class="fa fa-ellipsis-h"></i>Property</label>
      <input type="text" id="node-input-property" style="width:70%;"/>
      <input type="hidden" id="node-input-property_type"/>
  </div>
  <div class="form-row">
      <label for="node-input-file"><i class="fa fa-file"></i>File</label>
      <input type="text" id="node-input-file" style="width:70%;"/>
  </div>
</script>
<!-- _______________________________________________________________________ -->
<script type="text/x-red" data-help-name="jb.utils.config.store">
  <h3>Config Store</h3>
    <p>
      Persists an object to the file system
    </p><p>
      This node will save the object defined in the configuration <code>property</code> to a file.
    </p>
    <h3>Inputs</h3>
    <dl class="message-properties">
      The property to save. This can be an object in the <code>msg</code>, <code>flow</code> or <code>global</code> scope.
    </dl>
    <h3>Output</h3>
    <dl class="message-properties">
      None. If the file was stored successfully, the <code>msg</code> is passed on to the next node.
    </dl>
</script>
